<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjRoboTech23.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProjRoboTech23.Properties.Settings>
            <setting name="chkNSFW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkReligious" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkPolitical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRacist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkSexist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkExplicit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k" serializeAs="String">
                <value />
            </setting>
        </ProjRoboTech23.Properties.Settings>
    </userSettings>
</configuration>